
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grupo{
    display: flex;
    align-items: center;

}
.introducao{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline-start: 20%;
}